body {
  color: #c8c800;
  background: cyan;
  text-align: left;
  font-family: 'Helvetica', 'Arial', sans-serif;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px; }
  body h1 {
    color: #c8c800;
    margin-top: 10px;
    margin-bottom: 15px; }
  body h2 {
    color: #c8c800;
    margin-top: 10px;
    margin-bottom: 10px; }
  body h3 {
    color: #c8c800;
    margin-top: 10px;
    margin-bottom: 0px; }
  body h4 {
    color: red; }
    body h4 span {
      background: yellow;
      color: cyan;
      padding-left: 10px;
      padding-right: 10px; }
  body p {
    color: #c8c800;
    padding-right: 30px; }
  body ul {
    list-style-type: disc; }
  body a {
    text-decoration: underline; }
    body a:hover {
      color: #c8c800; }
  body img {
    border-radius: 0px; }
